* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.1fr 1.1fr 1.1fr 0.5fr;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar form form form"
    "sidebar content1 content1 content1"
    "sidebar content2 content2 content2"
    "sidebar footer footer footer";
}

nav {
  background-color: #a7ffeb;
  grid-area: nav;
}

#sidebar {
  background: #53d2c3;
  grid-area: sidebar;
}

form {
  background-color: #1edcaf;
  grid-area: form;
}

#content1 {
  background-color: #65a79f;
  grid-area: content1;
}

#content2 {
  background-color: #8ccabb;
  grid-area: content2;
}

footer {
  background-color: #5bc0a9;
  grid-area: footer;
}
